<footer>
  <figure>
    <img src="../../../assets/imgs/logo.png" alt="GEATS" />
  </figure>
  <ul>
    <li>
      <h4>Métodos de Pagamento</h4>
      <div class="cards">
        <mat-icon>credit_card</mat-icon>
        <mat-icon>credit_card</mat-icon>
        <mat-icon>credit_card</mat-icon>
        <mat-icon>credit_card</mat-icon>
      </div>
    </li>
    <li>
      <div class="address">
        <h4>Endereço</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          molestiae corrupti alias minus, temporibus cupiditate.
        </p>
      </div>
      <div class="phone">
        <h4>Telefone:</h4>
        <span>(51) 99999-9999</span>
      </div>
    </li>
    <li>
      <h4>Informações Adicionais</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias
        dolore reprehenderit doloremque repellat perferendis, id totam culpa
        voluptas velit ipsam?
      </p>
    </li>
  </ul>
  <p>Desenvolvido por Gabriel Silva - 2022</p>
</footer>
