<header>
  <div class="conteudo">
    <div class="logo">
      <img src="assets/imgs/logo.png" alt="GEATS" />
    </div>
    <div
      *ngIf="mobile"
      [ngClass]="{ mobile_items: true, openMobile: mobileOpen }"
    >
      <mat-icon class="list-icon" (click)="handleMobileOpen()">list</mat-icon>
      <ul>
        <li>
          <span>(51) 99999-9999</span>
        </li>
        <li>CARDÁPIO</li>
        <li>SOBRE NÓS</li>
        <li>
          <div class="carrinho">
            <mat-icon aria-hidden="false" (click)="handleCartClick()"
              >shopping_cart</mat-icon
            >
            <p class="quantidade-items" *ngIf="quantidadeProdutos != 0">
              {{ quantidadeProdutos }}
            </p>
          </div>
        </li>
      </ul>
      <app-carrinho [carrinhoAberto]="carrinhoAberto"></app-carrinho>
    </div>
    <div *ngIf="!mobile" class="items">
      <h4><span>(51) 99999-9999</span></h4>
      <h4>CARDÁPIO</h4>
      <h4>SOBRE NÓS</h4>
      <div class="carrinho">
        <mat-icon aria-hidden="false" (click)="handleCartClick()"
          >shopping_cart</mat-icon
        >
        <p class="quantidade-items" *ngIf="quantidadeProdutos != 0">
          {{ quantidadeProdutos }}
        </p>
      </div>
      <!-- <app-carrinho *ngIf="carrinhoAberto"></app-carrinho> -->
      <app-carrinho [carrinhoAberto]="carrinhoAberto"></app-carrinho>
    </div>
  </div>
</header>
