header {
    background: #f8f8f8;
    padding: 1rem;
    box-shadow: 2px 2px 5px var(--color-gray);

    .conteudo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1500px;

        .logo {
            h2 {
                span {
                    color: var(--color-red);
                }
            }
        }

        .items {
            .carrinho {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                fa-icon {
                    color: black;
                    transition: all .1s ease-out;
                    cursor: pointer;
                }

                .quantidade-items {
                    position: absolute;
                    bottom: 16px;
                    left: 10px;
                    font-size: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    background: var(--color-red);
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
            }
        }
    }
}