<article class="product" (click)="alternarDetalhesProdAberto()">
  <figure>
    <img [src]="produto.imgUrl" [alt]="produto.nome" />
  </figure>
  <div class="text">
    <header>
      <h3>{{ produto.nome }}</h3>
      <a href="#">{{ produto.tags | arrayToString: " | " }}</a>
    </header>
    <footer class="text-footer">
      <p><fa-icon [icon]="faFire"></fa-icon>{{ produto.calorias }} Kcal</p>
      <p class="icone-veg" *ngIf="produto.veg">Veg</p>
    </footer>
  </div>
  <hr />
  <footer class="card-footer">
    <div>
      <h2 [ngClass]="{ 'show-text': produto.quantidade > 0 }">
        {{ produto.preco | currency: "BRL" }}
      </h2>
      <span
        class="new-price"
        [ngClass]="{ 'show-text': produto.quantidade > 0 }"
        >Total: {{ produto.quantidade * produto.preco | currency: "BRL" }}</span
      >
    </div>
    <div class="buttons" (click)="$event.stopPropagation()">
      <button (click)="diminuirQuantidade()">-</button>
      <p>{{ produto.quantidade }}</p>
      <button (click)="adicionarQuantidade()">+</button>
    </div>
  </footer>
  <span class="added" *ngIf="produto.quantidade > 0"></span>
</article>
<app-product-view *ngIf="detalhesProdAberto"></app-product-view>
