<article class="product" (click)="handleProductOpen()">
  <figure>
    <img [src]="product.img_url" [alt]="product.product_name" />
  </figure>
  <div class="text">
    <header>
      <h3>{{ product.product_name }}</h3>
    </header>
    <footer class="text-footer">
      <p><fa-icon [icon]="faFire"></fa-icon>{{ product.calories }} Kcal</p>
      <p class="icone-veg" *ngIf="product.veg">Veg</p>
    </footer>
  </div>
  <hr />
  <footer class="card-footer">
    <div>
      <h2 [ngClass]="{ 'show-text': product.quantity > 0 }">
        {{ product.price | currency: "BRL" }}
      </h2>
      <span class="new-price" [ngClass]="{ 'show-text': product.quantity > 0 }"
        >Total: {{ product.quantity * product.price | currency: "BRL" }}</span
      >
    </div>
    <div class="buttons" (click)="$event.stopPropagation()">
      <button (click)="removeQuantity()">-</button>
      <p>{{ product.quantity }}</p>
      <button (click)="addQuantity()">+</button>
    </div>
  </footer>
  <span class="added" *ngIf="product.quantity > 0"></span>
</article>
<app-product-view
  *ngIf="detalhesProdAberto"
  [product]="product"
  (close)="onCloseClick($event)"
></app-product-view>
