<section class="container">
  <figure>
    <img [src]="product.img_url" [alt]="product.product_name" />
  </figure>
  <div class="info">
    <header>
      <h2>{{ product.product_name }}</h2>
      <h5><fa-icon [icon]="faFire"></fa-icon>{{ product.calories }} Kcal</h5>
      <p *ngIf="product.veg">VEGANO</p>
    </header>
    <hr />
    <body>
      <h4>DESCRIÇÃO</h4>
      <p>{{ product.description }}</p>
    </body>
    <hr />
    <footer>
      <button>ADICIONAR AO CARRINHO</button>
    </footer>
  </div>
</section>
