<section class="container">
  <figure>
    <img [src]="produto.imgUrl" [alt]="produto.nome" />
  </figure>
  <div class="info">
    <header>
      <h2>{{ produto.nome }}</h2>
      <p><fa-icon [icon]="faFire"></fa-icon>{{ produto.calorias }} Kcal</p>
      <p *ngIf="produto.veg">VEGANO</p>
    </header>
    <hr />
    <body>
      <ul>
        <li>Alface</li>
        <li>Tomate</li>
        <li>Cebola</li>
        <li>Milho</li>
        <li>Molho</li>
      </ul>
    </body>
    <hr />
    <footer>
      <div>
        <button>-</button>
        <p>0</p>
        <button>+</button>
      </div>
      <button>ADICIONAR AO CARRINHO</button>
    </footer>
  </div>
</section>
