.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 0;
    opacity: 0;
    height: 100vh;
    background: #f8f8f8;
    box-shadow: 4px 5px 0px 5px #dbdbdb;
    margin-top: 1.3rem;
    z-index: 9999;

    .vazio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100%;
        position: relative;
        bottom: 0;
        animation: surgir-carrinho-vazio .5s forwards;

        mat-icon {
            transform: scale(5);
            height: 40px;
        }
    }

    .produtos {
        height: 90vh;
        overflow: auto;
        display: flex;
        flex-direction: column;

        .produto {
            display: flex;
            align-items: center;
            max-width: 320px;
            margin: 0 auto;
            padding: 5px;
            border-radius: 5px;
            background: white;
            margin-top: 10px;
            position: relative;
            
            animation: surgir-produto .3s forwards;

            img {
                width: 70px;
                height: 70px;
                object-fit: cover;
            }

            .textos {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 10px;
                width: 50%;

                p {
                    margin-top: 20px;
                    font-size: 12px;
                }
            }

            .acoes {
                margin-left: auto;
                padding: 10px;
                display: flex;
                align-items: center;

                button {
                    background: none;
                    outline: none;
                    border: 1px solid var(--color-red);
                    color: var(--color-red);
                    width: 25px;
                    height: 25px;
                    font-size: 20px;
                    cursor: pointer;
                }

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    width: 25px;
                    height: 25px;
                    background: var(--color-red);
                    color: white;
                }
            }
        }
        .comprar-btn {
            margin: auto 10px 0 10px;
            padding: 10px 5px;
            font-weight: bold;
            letter-spacing: 2px;
            border: 1px solid var(--color-red);
            background: var(--color-red);
            border-radius: 5px;
            outline: none;
            color: #f8f8f8;
            cursor: pointer;
            transition: all .1s ease-out;
            width: 0px;
            margin-left: auto;
            margin-right: auto;
            animation: surgir-comprar-btn .3s forwards;

            &:hover {
                color: var(--color-red);
                background: none;
            }
        }
    }


}

.abrir {
    right: 0;
    opacity: 1;
    width: 25%;
    min-width: 320px;
    max-width: 350px;
}

@keyframes surgir-produto {
    0% {
        top: 20px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes surgir-carrinho-vazio {
    0% {
        bottom: 40px;
        transform: rotate(10deg);
        opacity: 0;
    }
    100% {
        bottom: 0px;
        transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes surgir-comprar-btn {
    0% {
        width: 0;
    }
    100% {
        width: 30%;
    }
}