<div class="container">
  <section class="produto">
    <img src="https://pbs.twimg.com/media/E2iZoBBVkAA9Xhw.jpg" alt="nome" />
    <div class="textos">
      <h4>Nome do produto</h4>
      <p>R$ 50,00 | 10</p>
    </div>
    <div class="acoes">
      <button>-</button>
      <p>1</p>
      <button>+</button>
    </div>
  </section>
  <section class="produto">
    <img src="https://pbs.twimg.com/media/E2iZoBBVkAA9Xhw.jpg" alt="nome" />
    <div class="textos">
      <h4>Nome do produto</h4>
      <p>R$ 50,00 | 10</p>
    </div>
    <div class="acoes">
      <button>-</button>
      <p>1</p>
      <button>+</button>
    </div>
  </section>
</div>
