<div class="container" [ngClass]="{ abrir: carrinhoAberto }">
  <div class="vazio" *ngIf="_PRODUTOS.length == 0">
    <img src="../../../../assets/imgs/logo_icone.png" alt="GEATS" />
    <h2>Carrinho vazio</h2>
  </div>

  <div class="produtos">
    <section class="produto" *ngFor="let produto of _PRODUTOS">
      <img [src]="produto.img_url" [alt]="produto.product_name" />
      <div class="textos">
        <h4>{{ produto.product_name }}</h4>
        <p>
          {{ produto.quantity * (produto.price / 100) | currency: "BRL" }} x
          {{ produto.quantity }}
        </p>
      </div>
      <div class="acoes">
        <button (click)="diminuirQuantidade(produto)">-</button>
        <p>{{ produto.quantity }}</p>
        <button (click)="adicionarQuantidade(produto)">+</button>
      </div>
    </section>
    <footer>
      <p class="total">TOTAL: {{ totalPrice / 100 | currency: "BRL" }}</p>
      <button
        class="comprar-btn"
        *ngIf="_PRODUTOS.length != 0"
        (click)="comprarProdutos()"
      >
        COMPRAR
      </button>
    </footer>
  </div>
</div>
