/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #272727;
}

html {
    overflow: hidden;
}

:root {
    --color-dark: #0D0D0D;
    --color-green: #00b627;
    --color-red: #E48A36;
    --color-red-dark: #731A1A;
    --color-red-darkest: #401313;
    --color-brown: #73553C;
    --color-light-gray: #ebebeb;
    --color-gray: #dbdbdb;
}